*{
    box-sizing: border-box;
}
 
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
 
a{
    color: inherit;
    text-decoration: none;
}

.bg-special{
    background-color: #F7F9FA;
}
 
.box-0050{
    box-shadow: 0 0 5px 0 #ccc;
}

@media (min-width: 430px) and (max-width: 1189px){
    .box-0050{
        box-shadow: none;
    }
}
 
.fl-ri{
    float: right;
}
 
h1,h2,h3,h4,h5,h6{
    font-family: Yekan;
    direction: rtl;
    text-align: right;
    margin: 10px 0;
    padding: 0 5px;
}
 
.ma-0-5{
    margin: 0 5px;
}

@media (min-width: 0px) and (max-width: 430px){
    .mo-ma-0{
        margin: 0;
    }
}
 
.ma-5{
    margin: 5px;
}
 
.ma-10-0{
    margin: 10px 0;
}
 
.wi-10{
    width: 10%;
}
 
.wi-20{
    width: 20%;
}

@media (min-width: 430px) and (max-width: 1189px){
    .mo-wi-20{
        width: 20%;
    }
}
 
.wi-33{
    width: 33.33%;
}
 
.wi-40{
    width: 40%;
}

@media (min-width: 0px) and (max-width: 430px){
    .mo-wi-40{
        width: 40%;
    }
}
 
.wi-50{
    width: 50%;
}
 
.wi-60{
    width: 60%;
}
 
.wi-66{
    width: 66.67%;
}
 
.wi-80{
    width: 80%;
}
 
.wi-90{
    width: 90%; 
}
 
.wi-100{
    width: 100%;
}

@media (min-width: 430px) and (max-width: 1189px){
    .tab-wi-100{
        width: 100%;
    }
}
 
ul li{
    list-style: none;
}

.he45-wi100-flri{
    height: 45px;
    width: 100%;
    float: right;
    overflow: hidden; 
}

@media (min-width: 0px) and (max-width: 430px){
    .he45-wi100-flri{
        height: 45px;
        width: 100%;
        float: right;
        overflow: hidden; 
    }
}
 
.main-text{
    font-size: 13px;
    font-family: Yekan;
    direction: rtl;
    text-align: right;
    margin: 10px;
    font-weight: bold;
}

@media (min-width: 0px) and (max-width: 430px){
    .main-text{
        font-size: 10px;
        font-family: Yekan;
        direction: rtl;
        text-align: right;
        margin: 10px;
        font-weight: bold;
    }
}
 
.text1{
    font-family: Yekan;
    direction: rtl;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    line-height: 35px;
}
 
.text2{
    font-family: Yekan;
    direction: rtl;
    text-align: left;
    color: #fff;
}
 
.text3{
    font-family: Yekan;
    direction: rtl;
    text-align: right;
}

.ok-button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: rgb(68, 68, 226);
    border-radius: 5px 0 0 5px;
    margin-top: 2px;
    text-align: center;
    font-size: 15px;
}

@media (min-width: 0px) and (max-width: 430px){
    .text3{
        font-family: Yekan;
        direction: rtl;
        text-align: right;
        font-size: 9px;
    }

    .ok-button{
        width: 30%;
        height: 20px;
        color: white;
        background-color: rgb(68, 68, 226);
        border-radius: 5px 0 0 5px;
        text-align: center;
        font-size: 9px;
    }
}

@media (min-width: 430px) and (max-width: 1189px){
    .text3{
        font-family: Yekan;
        direction: rtl;
        text-align: right;
        font-size: 12px;
    }

    .ok-button{
        width: 30%;
        height: 30px;
        color: white;
        background-color: rgb(68, 68, 226);
        border-radius: 5px 0 0 5px;
        text-align: center;
        font-size: 12px;
    }
}

.font-size1{
    font-size: 20px !important;
}

@media (min-width: 0px) and (max-width: 1189px){
    .font-size1{
        font-size: 15px !important;
    }
}

.r1190{
    width: 1190px !important;
    height: auto !important;
    margin: 0 auto;
    float: none !important;
    position: relative;
}

@media (min-width: 0px) and (max-width: 1189px){
    .r1190{
        width: 100% !important;
        height: auto !important;
        float: none !important;
        position: relative;
    }
}

@media (min-width: 0px) and (max-width: 1189px){
    .mo-tab-dis-no{
        display: none !important;
    }
}

@media (min-width: 1189px) and (max-width: 1500px){
    .desk-dis-no{
        display: none !important;
    }
 
 }